
$colours: ( 
    Text: #353f44,
    Heading: #384548,
    Notification: #42bfdc,
    Positive: #34aa44,
    Negative: #f85359,
    GreyBackground: #e9e9e9
);

$colourText: #353f44;
$colourHeading: #384548;
$colourNotification: #42bfdc;
$colourPositive: #34aa44;
$colourNegative: #f85359;
$colourGreyBackground: #e9e9e9;